<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>dist</string>
	</array>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>dist</key>
			<dict>
				<key>lastModification</key>
				<real>457190864</real>
				<key>version</key>
				<dict>
					<key>legacy-457190864.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>createMarkedFile</key>
		<real>457190864</real>
		<key>sheetClusters</key>
		<dict>
			<key>config.rb</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>518951183.76408702</real>
				<key>lastModification</key>
				<real>518951183.76408702</real>
				<key>version</key>
				<dict>
					<key>ecc1f31f0e2c32e316de501ed4efa414c78e49132449d7332d3162391f396756</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>gulpfile.js</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>518951183.76409298</real>
				<key>lastModification</key>
				<real>518951183.76409298</real>
				<key>version</key>
				<dict>
					<key>ecc1f31f0e2c32e316de501ed4efa414c78e49132449d7332d3162391f396756</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>518951263.97179502</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>config.rb</string>
		</array>
		<array>
			<string>gulpfile.js</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>ecc1f31f0e2c32e316de501ed4efa414c78e49132449d7332d3162391f396756</key>
			<integer>1</integer>
		</dict>
		<key>createMarkedFile</key>
		<dict>
			<key>ecc1f31f0e2c32e316de501ed4efa414c78e49132449d7332d3162391f396756</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>ecc1f31f0e2c32e316de501ed4efa414c78e49132449d7332d3162391f396756</key>
			<integer>2</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>ecc1f31f0e2c32e316de501ed4efa414c78e49132449d7332d3162391f396756</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
