<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>0_includes</string>
		<string>Dokumentation</string>
	</array>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>0_includes</key>
			<dict>
				<key>lastModification</key>
				<real>466534383</real>
				<key>version</key>
				<dict>
					<key>legacy-466534383.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Dokumentation</key>
			<dict>
				<key>lastModification</key>
				<real>466534383</real>
				<key>version</key>
				<dict>
					<key>legacy-466534383.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>createMarkedFile</key>
		<real>466534383</real>
		<key>sheetClusters</key>
		<dict>
			<key>style.scss</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>518951183.76382202</real>
				<key>lastModification</key>
				<real>518951183.76382202</real>
				<key>version</key>
				<dict>
					<key>ecc1f31f0e2c32e316de501ed4efa414c78e49132449d7332d3162391f396756</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>test.md</key>
			<dict>
				<key>lastModification</key>
				<real>466534383</real>
				<key>version</key>
				<dict>
					<key>legacy-466534383.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>518951263.96120298</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>test.md</string>
		</array>
		<array>
			<string>style.scss</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>ecc1f31f0e2c32e316de501ed4efa414c78e49132449d7332d3162391f396756</key>
			<integer>2</integer>
		</dict>
		<key>createMarkedFile</key>
		<dict>
			<key>ecc1f31f0e2c32e316de501ed4efa414c78e49132449d7332d3162391f396756</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>ecc1f31f0e2c32e316de501ed4efa414c78e49132449d7332d3162391f396756</key>
			<integer>3</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>ecc1f31f0e2c32e316de501ed4efa414c78e49132449d7332d3162391f396756</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
